@{
    ViewBag.Title = "Om";
}
<h2>Vad är Utvecklarkollektivet?</h2>

<h3>Historian</h3>
<p>Utvecklarkollektivet startade i juni 2012 på <a href="https://www.flashback.org/t1910436">forumet flashback</a> som sedan gick över till en IRC-kanal och förblev så ett par veckor.</p>
<p>Efter ett tag insåg alla att IRC är numera ganska dött för många och vi valde därför att starta en skype-grupp. Skype-gruppen växte långsamt under åren tills Slack kom.</p>
<p>Till en början bestod slack till stor del av gruppen som brukade hänga på skype men efter ett tag satte vi upp en sida där vem som helst kunde registrera sig och gjorde reklam för oss i olika medier.</p>
<p>Mycket om och men så växte användarantalet snabbt och fortsätter öka kontinuerligt. Vi välkomnar alltid nya medlemmar som är intresserade.</p>


<h3>Gruppen idag</h3>
<p>Idag består gruppen av ett gäng människor (över 250) som hänger främst på slack. Vi har även en podcast som vi nyligen börjat sända ut i etern. Dessutom bubblar det inom UK och lusten att driva nya projekt är stor!</p>
<p>Ingen är för gammal, för okunnig eller för mycket av en COBOL-programmerare för Utvecklarkollektivet, vi välkomnar alla med intresse av programmering som är svensktalande, bor i Sverige eller har viljan att bli svensktalande.</p>

<h3>Jag vill gå med, hur gör jag?</h3>
<p>Tryck på "Registrera" och skapa ett nytt konto, när det är klart och du är inloggad på sajten bör du fått ett mail från Slack. Där måste du skapa ett Slack-konto för att kunna vara med oss på Slack.</p>
<p><a href="http://slack.com">Slack</a> är ett chattverktyg som är gratis och finns till alla stora plattformar. <strong>Vänligen registrera dig med ditt riktiga namn,</strong> det är inget krav men vi ser helst att man vet vem man skriver med!</p>