
@{
    ViewBag.Title = "How";
}

<h2>Hur gör jag för att gå med?</h2>

<p>Först trycker du på registrera till höger i menyn, sedan fyller du i formuläret som ser ut som nedan.</p>
<p>Lösenord behöver du <strong>enbart om du vill administrera ditt konto på den här sajten</strong>. Om du inte sätter ett lösenord så blir det automagiskt genererat.
     För att bara chatta med oss andra på Slack räcker det med en e-post.</p>
<p></p>
<img src="~/Content/Images/regform.png" alt="Stor bild på en brygga" />

<p>Den här guiden är bara påbörjad.. Följ instruktionerna i mailet.</p>