@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Om";
}
<h2>Hur gör jag för att gå med?</h2>

<p>Först trycker du på registrera till höger i menyn, sedan fyller du i formuläret som ser ut som nedan.</p>
<p>
    Lösenord behöver du <strong>enbart om du vill administrera ditt konto på den här sajten</strong>. Om du inte sätter ett lösenord så blir det automagiskt genererat.
    För att bara chatta med oss andra på Slack räcker det med en e-post.
</p>
<p></p>
<img src="~/images/tutorial/regform.png" alt="Formuläret för att registra sig" /><br /><br />

<p>När du har gjort detta och får ett mail som ser ut ungefär såhär:</p>

<img src="~/images/tutorial/slackinvite.png" alt="Slack-injbudan i mailet" /> <br /><br />

<p>Klicka bara på "Join the team" så kommer du till vår slack-kanal. <strong>Registrera dig gärna med ditt fullständiga namn</strong> då det blir lättare för alla att veta vem man pratar med.</p>
<p>Vi kan rekommendera att ladda ner Slacks <a href="https://slack.com/downloads">desktop- och/eller mobilapp</a> också då det ofta är lättare att hänga med i diskussionerna när man har nativa kontroller.</p>

